*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  height: 100vh;
  background-color: #F2994A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock{
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(270deg, #9B51E0,#BB6BD9);
  height: 200px;
  width: 380px;
}

